ul {
  list-style-type: none;
  list-style-position: inside;
  padding-left: 0 !important;
}

.aboutme {
  font-size: 4vw;
  line-height: 1.1em;
  position: relative;
  display: block;
  text-align: center;
  margin: 15px;
  width: 92%;
  margin: auto;
  max-width: 120rem;
}

.aboutme:after {
  content: "";
  position: absolute;
  top: calc(100% + 0.5rem);
  height: 5px;
  width: 20vw;
  background: #f97068;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

#aboutme {
  height: 100vh;
  padding: 50px 50px 0px 50px;
}

.flex {
  margin-top: 15px;
  display: flex;
}

.left-col,
.right-col {
  flex: 50%;
  text-align: center;
  justify-content: center;
  margin: 0px 15px;
}

.headshot,
.school {
  max-width: 300px;
  height: auto;
  margin: 15px 0px;
  border-radius: 10px;
}

.skills > li {
  padding: 5px 15px;
  border-radius: 10px;
  background-color: #e0e0e2;
  color: #030303;
  margin: 5px;
  display: inline-block;
  font-size: large;
}

.text-block {
  background-color: #f97068;
  border-radius: 10px;
  padding: 15px;
}

.text {
  text-align: left;
  color: #030303;
}

@media only screen and (max-width: 992px) {
  .flex {
    display: block;
  }

  #aboutme {
    height: auto;
  }

  .headshot,
  .school {
    max-width: 90%;
  }
}

@media only screen and (max-width: 688px) {
  .aboutme {
    font-size: 8vw;
  }
}
