#contact {
  display: flex;
  height: 30vh;
  color: #030303;
}

#contact h1 {
  font-size: 4vw;
  line-height: 1.1em;
}

.left-contact {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #f97068;
  width: 100%;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.left-contact img {
  max-height: 25vh;
  width: auto;
}

.right-contact {
  display: flex;
  flex: 2;
  flex-direction: column;
  background-color: #4db8ff;
  width: 100%;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.right-contact svg {
  background-color: transparent;
  scale: 300%;
  margin: 0px 30px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

ul {
  list-style: disc;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline-block;
}

li a {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 600px) {
  #contact h1 {
    font-size: 8vw;
  }

  .right-contact svg {
    scale: 200%;
    margin: 15px;
  }
}
