body,
html {
  /* background: #dbe2ef !important; */
  /* background-image: url("./assets/images/leaf fade.svg") !important; */
  height: 100%;
}

h1,
h3 {
  text-align: center;
}

.jumbotron {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/images/leaf.svg") !important;
}

.name {
  font-size: 8vw;
}

.subtitle {
  font-size: 1.5vw;
}

.namesub {
  background-color: bisque;
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
}

.down-arrow {
  position: absolute;
  bottom: 2rem;
  right: 50%;
  animation: bobble 1s infinite alternate;
  cursor: pointer;
  font-size: 24px;
}

@keyframes bobble {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-1rem);
  }
}

@media only screen and (max-width: 688px) {
  .name {
    font-size: 10vw;
  }
  .subtitle {
    font-size: 4vw;
    word-wrap: break-word;
  }
}
