body,
html {
  /* background: #dbe2ef !important; */
  /* background-image: url("./assets/images/leaf fade.svg") !important; */
  height: 100%;
}

h1,
h3 {
  text-align: center;
}

.jumbotron {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: url("./assets/images/leaf.svg") !important; */
}

.name {
  font-size: 8vw;
  position: relative;
}

.name span {
  color: transparent;
  -webkit-text-stroke: 2px #4db8ff;
}

.subtitle {
  font-size: 1.5vw;
}

.subtitle span {
  color: #f97068;
}

.down-arrow {
  border-radius: 10px;
  position: absolute;
  bottom: 2rem;
  right: 50%;
  animation: bobble 1s infinite alternate;
  cursor: pointer;
  font-size: 24px;
}

svg {
  background-color: #e0e0e2;
  border-radius: 3px;
}

@keyframes bobble {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-1rem);
  }
}

@media only screen and (max-width: 688px) {
  .name {
    font-size: 10vw;
  }
  .subtitle {
    font-size: 4vw;
    word-wrap: break-word;
  }
}
