.jumbotron {
  margin-top: 10vw;
  max-width: 100%;
  width: 100%;
}

.name,
.title {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-family: "Monoton", Helvetica, sans-serif !important;
  /* letter-spacing: -5px; */
}

svg {
  scale: 50%;
}

.name {
  color: #272757;
  font-size: 12vw;
  @media (min-width: 700px) {
    font-size: 12vw;
  }

  @media (min-width: 1400px) {
    font-size: 10vw;
  }
}

.title {
  color: #3f3f8c;
  font-size: 7vw;
  @media (min-width: 700px) {
    font-size: 7vw;
  }

  @media (min-width: 1400px) {
    font-size: 5vw;
  }
}
