@import url("https://fonts.googleapis.com/css?family=Oxygen");

body {
  margin: 0;
  font-family: "Oxygen", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #f9f7f3 !important;
  background-color: #030303 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
