.projects {
  font-size: 4vw;
  line-height: 1.1em;
  position: relative;
  display: block;
  text-align: center;
  margin: 15px;
}

.projects:after {
  content: "";
  position: absolute;
  top: calc(100% + 0.5rem);
  height: 5px;
  width: 15vw;
  background: #f45b69;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

.projects-block {
  width: 92%;
  margin: auto;
  max-width: 120rem;
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
}

.project-img {
  text-align: center;
  margin: auto;
}

.image {
  max-width: 450px;
  height: auto;
  margin: 15px 0px;
  border-radius: 10px;
}

.project-content {
  margin-right: 2rem;
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.project-content h2 {
  font-weight: bold;
}

.project-content a {
  padding: 5px 30px;
  border-radius: 10px;
  background-color: #ee3848;
  color: #a3d5ff;
  margin: 5px;
  display: inline-block;
  font-size: large;
  text-decoration: none;
}

.project-content a:hover {
  transform: scale(1.1);
  color: #a3d5ff;
}

.project-content p {
  line-height: 1.7;
  margin-bottom: 1rem;
  word-wrap: break-word;
}

.tags {
  display: inline-flex;
}

.software-tag {
  background-color: #f45b69;
  border-radius: 10px;
  padding: 5px 15px;
  margin-right: 15px;
}

.hardware-tag {
  background-color: #275dad;
  border-radius: 10px;
  padding: 5px 15px;
  margin-right: 15px;
}

.tech > li {
  padding: 5px 15px;
  border-radius: 10px;
  background-color: #f45b69;
  margin: 5px;
  display: inline-block;
  font-size: large;
}

@media only screen and (max-width: 688px) {
  .projects {
    font-size: 8vw;
  }

  .project {
    display: inline-block;
    text-align: center;
    word-wrap: break-word;
  }

  .project-content {
    display: inline-block;
  }

  .tag {
    width: fit-content;
    margin: auto;
  }
}

@media only screen and (max-width: 767px) {
  .image {
    max-width: 300px;
  }
}
